name: Github Action with a cronjob trigger
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 */5 * *"

jobs:
  cronjob-based-github-action:
    name: Cronjob based github action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/keepalive-workflow@v1 # using the workflow with default settings